{{#with assets}}

<!-- left column -->
<div class="wr-left asset-summary">

    <!-- left nav -->
    <div class="wr-left-nav">
        <h2 class="asset-overview">Asset Overview</h2>
        <div class="ctrl-connector">
              <img src='{{url ""}}/storage/{{../rxt.shortName}}/{{id}}/{{thumbnail}}' class="" alt="Thumb"/>
        </div><br class="c-both" />
        <h4>{{tables.0.fields.displayname.value}}</h4>


        <p class="t-asset-ver">{{tables.0.fields.version.value}}</p>
        <p>{{tables.0.fields.description.value}}</p>

    </div>
    <!-- /left nav -->

</div>
<!-- /left column -->

<!-- right column -->
<div class="wr-right">

<h3>Set Connection</h3>


    <div class='content-div'>
        <div class="tab-content asset-tab-content">
            <div id="view" class="asset-view-container">

                        {{#if existingConnections}}
                            <h4 class="h-asset-title">Existing connections</h4>
                            {{#each existingConnections}}
                                <div class="ctrl-conns">
                                    <div class="conns-1">
                                        {{#recipeUriIdNullCheck ../returnRecipeUri}}
                                            <a href="{{../../returnRecipeUri}}&value={{this}}"
                                               class="btn-select-connection">Select</a>
                                            <a href="{{../../returnRecipeUri}}&value={{this}}">
                                                {{this}}
                                            </a>
                                        {{else}}
                                            {{this}}
                                        {{/recipeUriIdNullCheck}}
                                    </div>
                                    <div class="conns-2">
                                        <form action="{{url ""}}/apis/deleteAccount?type=connection&accountId={{this}}&id={{../id}}&recipeUri={{../../returnRecipeUri}}"
                                              id="form-delete" method="post" role="form">
                                            <button class="btn-delete">Delete</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="hr-sep-4"></div>
                                <br class="c-both"/>
                            {{/each}}

                        {{/if}}




                <div class="clearfix" style="height:30px;"></div>

                <form action="{{url ""}}/apis/{{name}}OAuth?type=connection&id={{id}}&recipeUri={{returnRecipeUri}}"   method="post" role="form">
                    <button type="submit" class="btn-action">OAuth Connection</button>
                </form>


            </div>
        </div>
    </div>


{{/with}}



</div>
<!-- /right column -->






