<div class="sidebar-nav">
    <ul class="nav nav-list ">


        <li class="ctrl-btn">
            {{#if assets.isTaskRunning}}
                <button class="btn btn-large span10" id="btn-deactivate" type="button" onclick="confirm_deactivate('{{assets.name}}', '{{assets.id}}');">Deactivate dish</button>
            {{else}}
                <button class="btn btn-large span10" id="btn-activate" type="button" onclick="confirm_activate('{{assets.name}}', '{{assets.id}}');">Activate dish</button>
            {{/if}}
        </li>

        <li class="ctrl-btn">
            <a href="/recipe-app/asts/dish/details/{{assets.id}}" class="btn btn-large span10"
               type="button">Configure</a>

        </li>


        <li class="ctrl-btn">
            <button class="btn btn-large span10" id="btn-activate" type="button" onclick="confirm_delete('{{assets.name}}', '{{assets.id}}');">Delete this dish</button>
        </li>

    </ul>

</div>

<script>
var confirm_activate = function(name, id) {
    bootbox.confirm("Are you sure Do you want to Activate the Dish" , function (result) {

        if(result) {
            window.location.href = "/recipe-app/apis/manage_task/activate?type=dish&dishName="+name+"&id="+id;
        }
    });
};

var confirm_deactivate = function(name, id) {
    bootbox.confirm("Are you sure Do you want to Deactivate the Dish" , function (result) {

        if(result) {
            window.location.href = "/recipe-app/apis/manage_task/deactivate?type=dish&dishName="+name+"&id="+id;
        }
    });
};

var confirm_delete = function(name, id) {
    bootbox.confirm("Are you sure Do you want to Delete the Dish" , function (result) {

        if(result) {
            window.location.href = "/recipe-app/apis/manage_task/delete?type=dish&dishName="+name+"&id="+id;
        }
    });
};
</script>
