


            <a href="/recipe-app/asts/dish/details/{{assets.id}}" class="btn-action" type="button">Configure</a>
             <div class="hr-sep-2">&nbsp;</div>

            <div class="btn-group-x">
            {{#if assets.isTaskRunning}}
                <button class="btn-action" id="btn-deactivate" type="button" onclick="confirm_deactivate('{{assets.name}}', '{{assets.id}}');">Deactivate this dish</button>
            {{else}}
                <button class="btn-action btn-fixed-160" id="btn-activate" type="button" onclick="confirm_activate('{{assets.name}}', '{{assets.id}}');">Activate this dish</button>
            {{/if}}
            <button class="btn-action btn-fixed-160" id="btn-activate" type="button" onclick="confirm_delete('{{assets.name}}', '{{assets.id}}');">Delete this dish</button>
            </div>



<script>
var confirm_activate = function(name, id) {
    bootbox.confirm("<p> Are you sure </p> <p>Do you want to Activate the Dish</p>" , function (result) {

        if(result) {
            window.location.href = "/recipe-app/apis/manage_task/activate?type=dish&dishName="+name+"&id="+id;
        }
    });
};

var confirm_deactivate = function(name, id) {
    bootbox.confirm("<p>Are you sure </p><p>Do you want to Deactivate the Dish</p>" , function (result) {

        if(result) {
            window.location.href = "/recipe-app/apis/manage_task/deactivate?type=dish&dishName="+name+"&id="+id;
        }
    });
};

var confirm_delete = function(name, id) {
    bootbox.confirm("<p>Are you sure </p><p>Do you want to Delete the Dish</p>" , function (result) {

        if(result) {
            window.location.href = "/recipe-app/apis/manage_task/delete?type=dish&dishName="+name+"&id="+id;
        }
    });
};
</script>
