<div class="wr-header" id="container-header">
    <div class="wr-header-inner">
    <div class="left-brand">
        <a href='{{url ""}}{{meta.landingPage}}' class="brand"></a>
    </div>
    <a href="{{url ""}}/../store" class="btn-recipe-store"><i class="icon-shopping-cart icon-white"></i>&nbsp;Go to recipe store </a>
    <div class="right-links">
        <div class="ctrl-tn">
                <a href="{{url "/asts/dish/dashboard"}}" class="btn-my-cafe"><i class="icon-tasks"></i>&nbsp; My Cafe</a>
                <span class="tn-sep">|&nbsp;</span>
                <a href="#" class="tn-welcome"><i class="icon-userx"></i>welcome, {{cuser.username}} </b></a>
                <a onclick="window.location.href='{{url "/logout"}}'" href="#"><i class="icon-signout"></i>{{t "Sign out"}}</a>
        </div>
    </div>
    </div>
    <br class="c-both" />
</div>

<!--div class="container" id="container-header">
	<div class="row">
		<div class="span12">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">



						<ul class="nav menu pull-right">

                            <li>
                                <a href="{{url "/asts/dish/dashboard"}}"><i class="icon-tasks"></i>&nbsp; My Cafe</a>
                            </li>
							<li>

								<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i
								class="icon-user"></i>&nbsp; {{cuser.username}} <b class="caret"></b></a>
								<ul class="dropdown-menu dropdown-account" role="menu" aria-labelledby="dLabel">
									<li>
										<a onclick="window.location.href='{{url "/logout"}}'" href="#"><i class="icon-signout"></i>{{t "Sign out"}}</a>
									</li>
								</ul>

							</li>


						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div-->
