<div class="wr-step-indicator">
    <!--h4>Step 1</h4-->
    <h3>Details</h3>
</div>

<form class="form-horizontal" method='post' action='{{url ""}}/apis/assets/{{assets.id}}?type=dish' id="form-update" data-redirect-url='{{url ""}}/asts/dish/set_ingredients/{{assets.id}}'>


    <fieldset class="">
        <!--img src='{{assets.tables.0.fields.banner.value}}' /-->
        <h2 class="asset-name">{{assets.tables.0.fields.name.value}}</h2>
        <!--label><strong>{{assets.tables.0.fields.version.value}}</strong></label-->
        <p>{{assets.tables.0.fields.description.value}}</p>
    </fieldset>


    <div id="rec-div">

        <div>
            <h3 class="h-asset-sec">Ingredients</h3>
            {{loopingRecipeImages assets.tables.1.fields "ingredients"}}
        </div>
        <br class="c-both"/>
        <div>
            <h3 class="h-asset-sec">Results</h3>
            {{loopingRecipeImages assets.tables.2.fields "results"}}
        </div>

        <input name="overview_name" type="text" value="{{assets.name}}" style="visibility: hidden" />
        <!-- Bottom Nav-bar -->
        <ul class="c-both ctrl-paging">
            <li class="next">
                <!--input type="submit" id="add-form-btn" class="btn-pag" value="Next  &rarr;"  /-->
                <a class="btn-pag" id="add-form-btn" disabled="disabled">Next &rarr;</a>
            </li>
        </ul>

    </div>

</form>

<script>


function doCheck(){
    var allFilled = true;

    var inputs = document.getElementsByTagName('input');
    for(var i=0; i<inputs.length; i++){
        if(inputs[i].type == "text" && inputs[i].value == ''){
            allFilled = false;
            break;
        }
    }

    document.getElementById("add-form-btn").disabled = !allFilled;
}

window.onload = function(){
    var inputs = document.getElementsByTagName('input');
    for(var i=0; i<inputs.length; i++){
        if(inputs[i].type == "text"){
            inputs[i].onkeyup = doCheck;
            inputs[i].onblur = doCheck;
        }
    }
};


</script>

<!-- Script to set user_ids' of connection -->
<script>
    function getQueryParams(qs) {
        qs = qs.split("+").join(" ");

        var params = {}, tokens,
                re = /[?&]?([^=]+)=([^&]*)/g;

        while (tokens = re.exec(qs)) {
            params[decodeURIComponent(tokens[1])]
                    = decodeURIComponent(tokens[2]);
        }

        return params;
    }

    var query = getQueryParams(document.location.search);

    if(query.id != null && query.value != null){
        // Set values
        var userIdText = document.getElementById(query.id);
        userIdText.setAttribute("value", query.value);

    }

    var leftPaneItem = document.querySelectorAll("ul.nav-list li")[0];
        leftPaneItem.style.backgroundColor="#f0f0f0";
        leftPaneItem.style.borderRadius="5px";
        leftPaneItem.style.border="1px solid #e4e4e4";
</script>